<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="4.3.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Binding" version="4.3.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Core" version="4.3.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Platform" version="4.3.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.StarterPack" version="4.3.0" targetFramework="monoandroid70" />
  <package id="NdefLibrary" version="3.0.2" targetFramework="monoandroid70" />
  <package id="NFCForms" version="2.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Forms" version="1.4.2.6359" targetFramework="monoandroid70" />
</packages>